*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --primary-color: #008000;
    --secondary-color: #ffffff;
    --accent-color: #000000;
    --font: 'Roboto', sans-serif;
    --heading: #d32f2f;
}

body {
    font-family: var(--font);
    list-style: 1.6rem;
    margin: 0;
    background-color: var(--secondary-color);
    color: var(--accent-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem 0;
}

header h1 {
  font-size: 1.8rem;
}


.hero {
  position: relative;
  /* max-width: 100%; */
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
}


.data, .weather {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem auto;
  position: static;
  width: 90%;
  max-width: 500px;
  
}

.weather h2 {
  background-color: var(--heading);
  color: white;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  position: relative; /* keeps ::after positioned relative to the h2 */
}

.data h2 {
  background-color: var(--heading);
  color: white;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between; /* pushes SVG to right */
  font-size: 1.2rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  /* margin-left: -1rem; moves title bar slightly out of section */
  /* width: calc(100% + 2rem); make it stretch across */
}

.section-icon {
  width: 1.8rem;
  height: auto;
  display: inline-block;   /* visible on small screens */
  margin-left: 0.5rem;
  flex-shrink: 0;
}


