
@media screen and (min-width: 700px) {
  .hero {
    position: relative;
  }

  .data, .weather {
    position: absolute;
    /* max-width: 300px; */
    width: 260px;
    margin: 0;
  }
  .data {
    top: 6rem;
    left: 2rem;
  }

  .weather {
    bottom: 4rem;
    right: 2rem;
  }

  .data h2, .weather h2 {
    margin-left: -1rem;
    width: calc(100% + 2rem);
  }
  

  

  

  

  
}
